Package: com.omar.devomar
Name: DevOmar
Version: 1.0.0
Architecture: iphoneos-arm
Description: Elegant credits card by OMAR (Twitter FQ_1E / Telegram o52lo)
Maintainer: OMAR
Author: OMAR
Section: Tweaks
